In [36]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from IPython.display import display_html

In [37]:
# Lecture du fichier .csv
breast_cancer_df = pd.read_csv("breast_cancer.csv")

In [38]:
# Affichage de quelques lignes du dataframe pour montrer sa structure.
breast_cancer_df.head()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,NaN

# Présentation des différentes variables de la base et de leur type.

"id" : identifiant de l'échantillon prélevé  
"diagnosis" : diagnostique établi : M = malin, B = bénin  
"xxx_mean" : valeur moyenne mesurée  
"xxx_se" : écart-type de la marge d'erreur de mesure  
"xxx_worst" : valeur mesurée la plus élevée  
"radius" : rayon moyen de la cellule prélevée  
"texture" : écart-type sur le niveau de gris des pixels composant l'image de la cellule. Le niveau de gris minimum est 0, le niveau maximum est de 255 (pour une image de 8 bits).  
"perimeter" : périmètre de la cellule prélevée  
"area" : aire de la cellule prélevée  
"smoothness" : variation dans la mesure du rayon de la cellule  
"compactness" : (périmètre^2 / aire - 1.0)  
"concavity" : degré d'irrégularité du contour de la cellule  
"concave points" : nombre de portions irrégulières sur le contour de la cellule  
"symmetry" : niveau de symétrie de la cellule prélevée  
"fractal dimension" : niveau d'irrégularité du contour de la cellule prélevée par rapport à ses cellules environnantes

# Statistiques descriptives sur chacune des variables en fonction de leur type.

In [39]:
breast_cancer_df.loc[:, ["radius_mean", "radius_se", "radius_worst"]].describe()

       radius_mean   radius_se  radius_worst
count   569.000000  569.000000    569.000000
mean     14.127292    0.405172     16.269190
std       3.524049    0.277313      4.833242
min       6.981000    0.111500      7.930000
25%      11.700000    0.232400     13.010000
50%      13.370000    0.324200     14.970000
75%      15.780000    0.478900     18.790000
max      28.110000    2.873000     36.040000

In [40]:
breast_cancer_df.loc[:, ["texture_mean", "texture_se", "texture_worst"]].describe()

       texture_mean  texture_se  texture_worst
count    569.000000  569.000000     569.000000
mean      19.289649    1.216853      25.677223
std        4.301036    0.551648       6.146258
min        9.710000    0.360200      12.020000
25%       16.170000    0.833900      21.080000
50%       18.840000    1.108000      25.410000
75%       21.800000    1.474000      29.720000
max       39.280000    4.885000      49.540000

In [41]:
breast_cancer_df.loc[:, ["perimeter_mean", "perimeter_se", "perimeter_worst"]].describe()

       perimeter_mean  perimeter_se  perimeter_worst
count      569.000000    569.000000       569.000000
mean        91.969033      2.866059       107.261213
std         24.298981      2.021855        33.602542
min         43.790000      0.757000        50.410000
25%         75.170000      1.606000        84.110000
50%         86.240000      2.287000        97.660000
75%        104.100000      3.357000       125.400000
max        188.500000     21.980000       251.200000

In [42]:
breast_cancer_df.loc[:, ["area_mean", "area_se", "area_worst"]].describe()

         area_mean     area_se   area_worst
count   569.000000  569.000000   569.000000
mean    654.889104   40.337079   880.583128
std     351.914129   45.491006   569.356993
min     143.500000    6.802000   185.200000
25%     420.300000   17.850000   515.300000
50%     551.100000   24.530000   686.500000
75%     782.700000   45.190000  1084.000000
max    2501.000000  542.200000  4254.000000

In [43]:
breast_cancer_df.loc[:, ["smoothness_mean", "smoothness_se", "smoothness_worst"]].describe()

       smoothness_mean  smoothness_se  smoothness_worst
count       569.000000     569.000000        569.000000
mean          0.096360       0.007041          0.132369
std           0.014064       0.003003          0.022832
min           0.052630       0.001713          0.071170
25%           0.086370       0.005169          0.116600
50%           0.095870       0.006380          0.131300
75%           0.105300       0.008146          0.146000
max           0.163400       0.031130          0.222600

In [44]:
breast_cancer_df.loc[:, ["compactness_mean", "compactness_se", "compactness_worst"]].describe()

       compactness_mean  compactness_se  compactness_worst
count        569.000000      569.000000         569.000000
mean           0.104341        0.025478           0.254265
std            0.052813        0.017908           0.157336
min            0.019380        0.002252           0.027290
25%            0.064920        0.013080           0.147200
50%            0.092630        0.020450           0.211900
75%            0.130400        0.032450           0.339100
max            0.345400        0.135400           1.058000

In [45]:
breast_cancer_df.loc[:, ["concavity_mean", "concavity_se", "concavity_worst"]].describe()

       concavity_mean  concavity_se  concavity_worst
count      569.000000    569.000000       569.000000
mean         0.088799      0.031894         0.272188
std          0.079720      0.030186         0.208624
min          0.000000      0.000000         0.000000
25%          0.029560      0.015090         0.114500
50%          0.061540      0.025890         0.226700
75%          0.130700      0.042050         0.382900
max          0.426800      0.396000         1.252000

In [46]:
breast_cancer_df.loc[:, ["concave points_mean", "concave points_se", "concave points_worst"]].describe()

       concave points_mean  concave points_se  concave points_worst
count           569.000000         569.000000            569.000000
mean              0.048919           0.011796              0.114606
std               0.038803           0.006170              0.065732
min               0.000000           0.000000              0.000000
25%               0.020310           0.007638              0.064930
50%               0.033500           0.010930              0.099930
75%               0.074000           0.014710              0.161400
max               0.201200           0.052790              0.291000

In [47]:
breast_cancer_df.loc[:, ["symmetry_mean", "symmetry_se", "symmetry_worst"]].describe()

       symmetry_mean  symmetry_se  symmetry_worst
count     569.000000   569.000000      569.000000
mean        0.181162     0.020542        0.290076
std         0.027414     0.008266        0.061867
min         0.106000     0.007882        0.156500
25%         0.161900     0.015160        0.250400
50%         0.179200     0.018730        0.282200
75%         0.195700     0.023480        0.317900
max         0.304000     0.078950        0.663800

In [48]:
breast_cancer_df.loc[:, ["fractal_dimension_mean", "fractal_dimension_se", "fractal_dimension_worst"]].describe()

       fractal_dimension_mean  fractal_dimension_se  fractal_dimension_worst
count              569.000000            569.000000               569.000000
mean                 0.062798              0.003795                 0.083946
std                  0.007060              0.002646                 0.018061
min                  0.049960              0.000895                 0.055040
25%                  0.057700              0.002248                 0.071460
50%                  0.061540              0.003187                 0.080040
75%                  0.066120              0.004558                 0.092080
max                  0.097440              0.029840                 0.207500

# Présenter des statistiques par diagnostic (bénin/malin) pour les variables, permettant de mettre en évidence l'aspect plus ou moins discriminant de certaines variables.

In [50]:
radius_df=breast_cancer_df.loc[:, ["diagnosis", "radius_mean", "radius_se", "radius_worst"]]
radius_df.style.set_caption("radius for B diagnosis")

radius_B_df = radius_df[radius_df['diagnosis']=='B'].describe()
radius_M_df = radius_df[radius_df['diagnosis']=='M'].describe()

df1_styler = radius_B_df.style.set_table_attributes("style='display:inline'").set_caption('radius for B diagnosis')
df2_styler = radius_M_df.style.set_table_attributes("style='display:inline'").set_caption('radius for M diagnosis')

display_html(df1_styler._repr_html_()+df2_styler._repr_html_(), raw=True)

,radius_mean,radius_se,radius_worst
count,357.000000,357.000000,357.000000
mean,12.146524,0.284082,13.379801
std,1.780512,0.112570,1.981368
min,6.981000,0.111500,7.930000
25%,11.080000,0.207300,12.080000
50%,12.200000,0.257500,13.350000
75%,13.370000,0.341600,14.800000
max,17.850000,0.881100,19.820000
,radius_mean,radius_se,radius_worst
count,212.000000,212.000000,212.000000
mean,17.462830,0.609083,21.134811
std,3.203971,0.345039,4.283569
min,10.950000,0.193800,12.840000
25%,15.075000,0.390375,17.730000
50%,17.325000,0.547200,20.590000
75%,19.590000,0.757300,23.807500
max,28.110000,2.873000,36.040000

In [51]:
texture_df=breast_cancer_df.loc[:, ["diagnosis", "texture_mean", "texture_se", "texture_worst"]]
texture_df.style.set_caption("texture for B diagnosis")

texture_B_df = texture_df[texture_df['diagnosis']=='B'].describe()
texture_M_df = texture_df[texture_df['diagnosis']=='M'].describe()

df1_styler = texture_B_df.style.set_table_attributes("style='display:inline'").set_caption('texture for B diagnosis')
df2_styler = texture_M_df.style.set_table_attributes("style='display:inline'").set_caption('texture for M diagnosis')

display_html(df1_styler._repr_html_()+df2_styler._repr_html_(), raw=True)

,texture_mean,texture_se,texture_worst
count,357.000000,357.000000,357.000000
mean,17.914762,1.220380,23.515070
std,3.995125,0.589180,5.493955
min,9.710000,0.360200,12.020000
25%,15.150000,0.795900,19.580000
50%,17.390000,1.108000,22.820000
75%,19.760000,1.492000,26.510000
max,33.810000,4.885000,41.780000
,texture_mean,texture_se,texture_worst
count,212.000000,212.000000,212.000000
mean,21.604906,1.210915,29.318208
std,3.779470,0.483178,5.434804
min,10.380000,0.362100,16.670000
25%,19.327500,0.892825,25.782500
50%,21.460000,1.102500,28.945000
75%,23.765000,1.429250,32.690000
max,39.280000,3.568000,49.540000

In [52]:
perimeter_df=breast_cancer_df.loc[:, ["diagnosis", "perimeter_mean", "perimeter_se", "perimeter_worst"]]
perimeter_df.style.set_caption("perimeter for B diagnosis")

perimeter_B_df = perimeter_df[perimeter_df['diagnosis']=='B'].describe()
perimeter_M_df = perimeter_df[perimeter_df['diagnosis']=='M'].describe()

df1_styler = perimeter_B_df.style.set_table_attributes("style='display:inline'").set_caption('perimeter for B diagnosis')
df2_styler = perimeter_M_df.style.set_table_attributes("style='display:inline'").set_caption('perimeter for M diagnosis')

display_html(df1_styler._repr_html_()+df2_styler._repr_html_(), raw=True)

,perimeter_mean,perimeter_se,perimeter_worst
count,357.000000,357.000000,357.000000
mean,78.075406,2.000321,87.005938
std,11.807438,0.771169,13.527091
min,43.790000,0.757000,50.410000
25%,70.870000,1.445000,78.270000
50%,78.180000,1.851000,86.920000
75%,86.100000,2.388000,96.590000
max,114.600000,5.118000,127.100000
,perimeter_mean,perimeter_se,perimeter_worst
count,212.000000,212.000000,212.000000
mean,115.365377,4.323929,141.370330
std,21.854653,2.568546,29.457055
min,71.900000,1.334000,85.100000
25%,98.745000,2.715500,119.325000
50%,114.200000,3.679500,138.000000
75%,129.925000,5.206250,159.800000
max,188.500000,21.980000,251.200000

In [61]:
area_df=breast_cancer_df.loc[:, ["diagnosis", "area_mean", "area_se", "area_worst"]]
area_df.style.set_caption("area for B diagnosis")

area_B_df = area_df[area_df['diagnosis']=='B']
area_M_df = area_df[area_df['diagnosis']=='M']

df1_styler = area_B_df.describe().style.set_table_attributes("style='display:inline'").set_caption('area for B diagnosis')
df2_styler = area_M_df.describe().style.set_table_attributes("style='display:inline'").set_caption('area for M diagnosis')

display_html(df1_styler._repr_html_()+df2_styler._repr_html_(), raw=True)

,area_mean,area_se,area_worst
count,357.000000,357.000000,357.000000
mean,462.790196,21.135148,558.899440
std,134.287118,8.843472,163.601424
min,143.500000,6.802000,185.200000
25%,378.200000,15.260000,447.100000
50%,458.400000,19.630000,547.400000
75%,551.100000,25.030000,670.000000
max,992.100000,77.110000,1210.000000
,area_mean,area_se,area_worst
count,212.000000,212.000000,212.000000
mean,978.376415,72.672406,1422.286321
std,367.937978,61.355268,597.967743
min,361.600000,13.990000,508.100000
25%,705.300000,35.762500,970.300000
50%,932.000000,58.455000,1303.000000
75%,1203.750000,94.000000,1712.750000
max,2501.000000,542.200000,4254.000000

In [74]:
abs(area_B_df["area_worst"].max()-area_M_df["area_worst"].max())/max([area_M_df["area_worst"].max(),area_B_df["area_worst"].max()])*100

71.55618241654913

In [79]:
area_B_df["area_mean"].max()/area_M_df["area_mean"].max()

0.3966813274690124

In [80]:
area_B_df["area_mean"].min()/area_M_df["area_mean"].min()

0.39684734513274333

In [83]:
area_M_df["area_mean"].mean()/area_B_df["area_mean"].mean()*100

211.4081982256446

In [55]:
smoothness_df=breast_cancer_df.loc[:, ["diagnosis", "smoothness_mean", "smoothness_se", "smoothness_worst"]]
smoothness_df.style.set_caption("smoothness for B diagnosis")

smoothness_B_df = smoothness_df[smoothness_df['diagnosis']=='B'].describe()
smoothness_M_df = smoothness_df[smoothness_df['diagnosis']=='M'].describe()

df1_styler = smoothness_B_df.style.set_table_attributes("style='display:inline'").set_caption('smoothness for B diagnosis')
df2_styler = smoothness_M_df.style.set_table_attributes("style='display:inline'").set_caption('smoothness for M diagnosis')

display_html(df1_styler._repr_html_()+df2_styler._repr_html_(), raw=True)

,smoothness_mean,smoothness_se,smoothness_worst
count,357.000000,357.000000,357.000000
mean,0.092478,0.007196,0.124959
std,0.013446,0.003061,0.020013
min,0.052630,0.001713,0.071170
25%,0.083060,0.005212,0.110400
50%,0.090760,0.006530,0.125400
75%,0.100700,0.008534,0.137600
max,0.163400,0.021770,0.200600
,smoothness_mean,smoothness_se,smoothness_worst
count,212.000000,212.000000,212.000000
mean,0.102898,0.006780,0.144845
std,0.012608,0.002890,0.021870
min,0.073710,0.002667,0.088220
25%,0.094010,0.005085,0.130475
50%,0.102200,0.006209,0.143450
75%,0.110925,0.007971,0.155975
max,0.144700,0.031130,0.222600

In [56]:
compactness_df=breast_cancer_df.loc[:, ["diagnosis", "compactness_mean", "compactness_se", "compactness_worst"]]
compactness_df.style.set_caption("compactness for B diagnosis")

compactness_B_df = compactness_df[compactness_df['diagnosis']=='B'].describe()
compactness_M_df = compactness_df[compactness_df['diagnosis']=='M'].describe()

df1_styler = compactness_B_df.style.set_table_attributes("style='display:inline'").set_caption('compactness for B diagnosis')
df2_styler = compactness_M_df.style.set_table_attributes("style='display:inline'").set_caption('compactness for M diagnosis')

display_html(df1_styler._repr_html_()+df2_styler._repr_html_(), raw=True)

,compactness_mean,compactness_se,compactness_worst
count,357.000000,357.000000,357.000000
mean,0.080085,0.021438,0.182673
std,0.033750,0.016352,0.092180
min,0.019380,0.002252,0.027290
25%,0.055620,0.011320,0.112000
50%,0.075290,0.016310,0.169800
75%,0.097550,0.025890,0.230200
max,0.223900,0.106400,0.584900
,compactness_mean,compactness_se,compactness_worst
count,212.000000,212.000000,212.000000
mean,0.145188,0.032281,0.374824
std,0.053987,0.018387,0.170372
min,0.046050,0.008422,0.051310
25%,0.109600,0.019662,0.244475
50%,0.132350,0.028590,0.356350
75%,0.172400,0.038910,0.447850
max,0.345400,0.135400,1.058000

In [57]:
concavity_df=breast_cancer_df.loc[:, ["diagnosis", "concavity_mean", "concavity_se", "concavity_worst"]]
concavity_df.style.set_caption("concavity for B diagnosis")

concavity_B_df = concavity_df[concavity_df['diagnosis']=='B'].describe()
concavity_M_df = concavity_df[concavity_df['diagnosis']=='M'].describe()

df1_styler = concavity_B_df.style.set_table_attributes("style='display:inline'").set_caption('concavity for B diagnosis')
df2_styler = concavity_M_df.style.set_table_attributes("style='display:inline'").set_caption('concavity for M diagnosis')

display_html(df1_styler._repr_html_()+df2_styler._repr_html_(), raw=True)

,concavity_mean,concavity_se,concavity_worst
count,357.000000,357.000000,357.000000
mean,0.046058,0.025997,0.166238
std,0.043442,0.032918,0.140368
min,0.000000,0.000000,0.000000
25%,0.020310,0.010990,0.077080
50%,0.037090,0.018400,0.141200
75%,0.059990,0.030560,0.221600
max,0.410800,0.396000,1.252000
,concavity_mean,concavity_se,concavity_worst
count,212.000000,212.000000,212.000000
mean,0.160775,0.041824,0.450606
std,0.075019,0.021603,0.181507
min,0.023980,0.011010,0.023980
25%,0.109525,0.026998,0.326425
50%,0.151350,0.037125,0.404900
75%,0.203050,0.050443,0.556175
max,0.426800,0.143800,1.170000

In [58]:
concave_points_df=breast_cancer_df.loc[:, ["diagnosis", "concave points_mean", "concave points_se", "concave points_worst"]]
concave_points_df.style.set_caption("concave points for B diagnosis")

concave_points_B_df = concave_points_df[concave_points_df['diagnosis']=='B'].describe()
concave_points_M_df = concave_points_df[concave_points_df['diagnosis']=='M'].describe()

df1_styler = concave_points_B_df.style.set_table_attributes("style='display:inline'").set_caption('concave points for B diagnosis')
df2_styler = concave_points_M_df.style.set_table_attributes("style='display:inline'").set_caption('concave points for M diagnosis')

display_html(df1_styler._repr_html_()+df2_styler._repr_html_(), raw=True)

,concave points_mean,concave points_se,concave points_worst
count,357.000000,357.000000,357.000000
mean,0.025717,0.009858,0.074444
std,0.015909,0.005709,0.035797
min,0.000000,0.000000,0.000000
25%,0.015020,0.006433,0.051040
50%,0.023440,0.009061,0.074310
75%,0.032510,0.011870,0.097490
max,0.085340,0.052790,0.175000
,concave points_mean,concave points_se,concave points_worst
count,212.000000,212.000000,212.000000
mean,0.087990,0.015060,0.182237
std,0.034374,0.005517,0.046308
min,0.020310,0.005174,0.028990
25%,0.064620,0.011415,0.152750
50%,0.086280,0.014205,0.182000
75%,0.103175,0.017497,0.210675
max,0.201200,0.040900,0.291000

In [59]:
symmetry_df=breast_cancer_df.loc[:, ["diagnosis", "symmetry_mean", "symmetry_se", "symmetry_worst"]]
symmetry_df.style.set_caption("symmetry for B diagnosis")

symmetry_B_df = symmetry_df[symmetry_df['diagnosis']=='B'].describe()
symmetry_M_df = symmetry_df[symmetry_df['diagnosis']=='M'].describe()

df1_styler = symmetry_B_df.style.set_table_attributes("style='display:inline'").set_caption('symmetry for B diagnosis')
df2_styler = symmetry_M_df.style.set_table_attributes("style='display:inline'").set_caption('symmetry for M diagnosis')

display_html(df1_styler._repr_html_()+df2_styler._repr_html_(), raw=True)

,symmetry_mean,symmetry_se,symmetry_worst
count,357.000000,357.000000,357.000000
mean,0.174186,0.020584,0.270246
std,0.024807,0.006999,0.041745
min,0.106000,0.009539,0.156600
25%,0.158000,0.015600,0.240600
50%,0.171400,0.019090,0.268700
75%,0.189000,0.024060,0.298300
max,0.274300,0.061460,0.422800
,symmetry_mean,symmetry_se,symmetry_worst
count,212.000000,212.000000,212.000000
mean,0.192909,0.020472,0.323468
std,0.027638,0.010065,0.074685
min,0.130800,0.007882,0.156500
25%,0.174050,0.014615,0.276500
50%,0.189900,0.017700,0.310300
75%,0.209850,0.022132,0.359225
max,0.304000,0.078950,0.663800

In [60]:
fractal_dimension_df=breast_cancer_df.loc[:, ["diagnosis", "fractal_dimension_mean", "fractal_dimension_se", "fractal_dimension_worst"]]
fractal_dimension_df.style.set_caption("fractal_dimension for B diagnosis")

fractal_dimension_B_df = fractal_dimension_df[fractal_dimension_df['diagnosis']=='B'].describe()
fractal_dimension_M_df = fractal_dimension_df[fractal_dimension_df['diagnosis']=='M'].describe()

df1_styler = fractal_dimension_B_df.style.set_table_attributes("style='display:inline'").set_caption('fractal_dimension for B diagnosis')
df2_styler = fractal_dimension_M_df.style.set_table_attributes("style='display:inline'").set_caption('fractal_dimension for M diagnosis')

display_html(df1_styler._repr_html_()+df2_styler._repr_html_(), raw=True)

,fractal_dimension_mean,fractal_dimension_se,fractal_dimension_worst
count,357.000000,357.000000,357.000000
mean,0.062867,0.003636,0.079442
std,0.006747,0.002938,0.013804
min,0.051850,0.000895,0.055210
25%,0.058530,0.002074,0.070090
50%,0.061540,0.002808,0.077120
75%,0.065760,0.004174,0.085410
max,0.095750,0.029840,0.148600
,fractal_dimension_mean,fractal_dimension_se,fractal_dimension_worst
count,212.000000,212.000000,212.000000
mean,0.062680,0.004062,0.091530
std,0.007573,0.002041,0.021553
min,0.049960,0.001087,0.055040
25%,0.056598,0.002688,0.076302
50%,0.061575,0.003739,0.087600
75%,0.067075,0.004892,0.102625
max,0.097440,0.012840,0.207500